<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- begin css  -->
        <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
        <link rel="stylesheet" type="text/css" href="tablesaw/tablesaw.css" />
        <link rel="stylesheet" type="text/css" href="tablesaw/icons/icons.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <!-- end css -->

        <!-- begin scripts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <!-- end scripts -->
    </head>

    <body>
        <noscript>
            <div id="noscript_note">You must have JavaScript enabled to view this page.</div>
        </noscript>

        <div id="data"></div>

        <script src="pym.js"></script>
        <script src="tablesaw/tablesaw.js"></script>
        <script src="tabletop.js"></script>
        <script src="responsiveTable.js"></script>
        <script type="text/javascript">
          (function() {
            var reponsive_table = new ResponsiveTable('{{ key }}', {{ columns }});

            var inIframe = function() {
              try {
                return window.self !== window.top;
              } catch (e) {
                return true;
              }
            };

            $(function() {
              if (inIframe())
                $('body').css('overflow-x', 'hidden');
            });
          })();
        </script>

        {% if ua_code %}
        <!-- begin analytics
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ ua_code }}']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        end analytics -->
        {% endif %}

    </body>
</html>
